<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/public/assets/css/style.css" type="text/css">
	<script src="https://kit.fontawesome.com/0a4bab52f2.js" crossorigin="anonymous"></script>
	<title>Eat a Burger</title>
</head>
<body>
	{{{body}}}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/public/assets/js/burger.js"></script>
</body>
</html>