<div class="flexbox-container">
<h1>EAT A BURGER</h1><br>
        <div class="flexbox-item">            
            <i class="fas fa-hamburger"></i>
            <ul id="uneaten">
                <h2>Devour the Burger! </h2>
                {{#each burger}}
                {{#unless devoured}}
                {{> burger/burger-block devoured=false}}
                {{/unless}}
                {{/each}}
            </ul>

        </div>

        <div class="flexbox-item">
            
            <i class="fas fa-hamburger"></i>
    
            <h2>Eat the burger!</h2>
        
            <form class="burgerInput">
            <input type="text" id="newBurger" name="burger_name">
                <div class="flexbox-container">
                    
                    <button type="submit" id="burgerBtn">Add a burger</button>

                </div>
            </form>
            
        </div>
        <div class="flexbox-item">
            <i class="fas fa-hamburger"></i>
            <ul id="eaten">
                <h2>You devoured - </h2>
                {{#each burger}}
                {{#if devoured}}
                {{!-- > means you're looking in the partials directory --}}
                {{> burger/burger-block devoured=true}}
                {{/if}}
                {{/each}}
            </ul>

        </div>
    </div>